.left-container {
  border-right: 1Px solid grey;
  height: 50em;
}
.up-container {
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
}
.bottom-container {
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
}

.button {
  height: 5em;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
}
a:hover {
  text-decoration: none;
  background-color: cadetblue;
  color: white;
}
.switch-container {
  height: 50em;
  padding: 1em;
}
