button {
  border: 2px solid cadetblue;
  background-color: white;
  padding: .5em;
  border-radius: 1em;
  color: cadetblue;
  font-weight: bold;
  margin-top: 2em;

  img {
    width: 3em;
    margin-left: 1em;
  }
}

