.container {
  height: 10em;
  border-bottom: 1Px solid grey;
}
.img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1Px solid grey;
  border-right: 1Px solid grey;
  img {
    height: 100%;
  }
}
.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 1Px solid grey;
  .name {
    b {
      color: cadetblue;
    }
  }
}
.row {
  height: 10em;
}
